* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Ubuntu", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 21, 82, 0.85); 
    
    color: #FFFFFF;
    border-bottom: 2px solid #82AABF;
    border-radius: 10px;
}


/* Estilo para los escritorios/workspaces de Hyprland */
#workspaces button {
    padding: 0 10px;
    color: #a9b1d6;
    font-size: 14px;
    font-weight: bold;
}

#workspaces button.active {
    color: #7aa2f7; /* Color resaltado para el escritorio actual */
    border-bottom: 2px solid #7aa2f7;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* Estilos para tus módulos individuales (Añade padding para que no estén pegados) */
#clock,
#battery,
#network,
#pulseaudio,
#custom-wallpaper {
    padding: 0 10px;
    margin: 0 4px;
}

/* Tu botón del fondo de pantalla con un color personalizado */
#custom-wallpaper {
    color: #bb9af7; /* Un morado estilo Tokyo Night / Catppuccin */
}

#custom-wallpaper:hover {
    color: #73daca; /* Cambia a verde al pasar el ratón */
}
